{:paths ["src" "target/lib"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0-rc1"}
        org.bytedeco/llvm-platform {:mvn/version "13.0.1-1.5.7"}}
 ;:tools/usage {:ns-default dev.jt.cljextract} ;; TODO
 :deps/prep-lib {:alias  :build
                 :fn     jextract-jar
                 :ensure "target/lib"}

 :aliases {:build
           {:ns-default build
            :replace-deps
            {io.github.clojure/tools.build {:git/tag "v0.10.5" :git/sha "2a21b7a"}
             org.clojure/tools.gitlibs     {:mvn/version "2.5.197"}}}}}
